<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
  </head>
  <body>
    <form action="" method="post">
      {% if validlink %}
        <h1>Enter new password</h1>
        <h4>
          Please enter your new password twice so we can verify you typed it in
          correctly.
        </h4>
        {{ form.as_p }}
        <input type="submit" value="Change Password">
      {% else %}
        <h1>Invalid Password reset</h1>
        <h4>
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </h4>
      {% endif %}
      {% csrf_token %}
    </form>
  </body>
</html>
