<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group List</title>
  </head>
  <body>
    {% for group in groups %}
      <h3>{{ group.name }}</h3>
    {% endfor %}

    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>
      {% if page_obj.number > 3 %}
        <a href="?page=1">1</a>
        {% if page_obj.number > 4 %}
          <span>...</span>
        {% endif %}
      {% endif %}
    {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  
  {% if page_obj.has_next %}
    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
      <span>...</span>
      <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
      <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}  
    <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
  {% endif %}
  </body>
</html>
